


	<div class="row">
		


<div ng-controller="editFormationCtrl">
    
    <form style="padding-top: 50px;">
  <div class="form-group">
                                                                                                                
    <label for="exampleInputEmail1">Code de la Formation</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="codeFormation" ng-model="formation.codeFormation">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Nom de la Formation</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="nomFormation" ng-model="formation.nomFormation">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Type du diplôme</label>
    </br>
   <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="diplome">-->
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Licence" ng-value="'L'" ng-model="formation.diplome"> Licence
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Master" ng-value="'M'" ng-model="formation.diplome"> Master
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Doctorat" ng-value="'D'" ng-model="formation.diplome"> Doctorat
        </label>
  </div>





  <div class="form-group">
    <label for="exampleInputEmail1">Double diplômation</label>
    <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="estUnDoubleDiplome">-->
    </br>
        <label class="radio-inline" >
            <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="O" ng-value="true" ng-model="formation.estUnDoubleDiplome"> Oui
        </label><label class="radio-inline" >
            <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="N" ng-value="false" ng-model="formation.estUnDoubleDiplome"> Non
        </label>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Nombre d'années</label>
    <input type="number" class="form-control"  placeholder="numeroAnnee"  value="0" min="1" max="9" ng-model="formation.numeroAnnee">
  </div>


    



  <div class="form-group">
    <label for="exampleInputEmail1">Date de debut</label>
    <input type="date" class="form-control" id="inputPassword2" placeholder="debutAccreditation" ng-model="formation.debutAccreditation">
    
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Date de fin</label>
    <input type="date" class="form-control" id="inputPassword2" placeholder="finAccreditation" ng-model="formation.finAccreditation">
  </div>




<!-------------insertFormation(formation)----------->



  <button href="#/formations" ng-click="updateFormation(formation)" type="submit" class="btn btn-success">Save</button>
  <button href="" type="reset" class="btn btn-danger">Cancel</button>

</form>
</div>

	</div>
