<div ng-controller="formationCtrl">
	<div class="alert alert-danger alert-dismissible" role="alert" ng-click="closeAlert()" ng-if="error">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>{{status}}</strong>
	</div>

	<div class="alert alert-success alert-dismissible" role="alert" ng-click="closeAlert()" ng-show="success">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>{{status}}</strong>
	</div>

</br>
	<table class="table table-bordered" >
		<tr>
			<th>Code</th>
			<th>Libellé</th>
			<th>Numéro année</th>
			<th>Supprimer</th>
			<th>update</th>
		</tr>

		<tr ng-repeat="formation in formations">
			<td><a href="#/formation/{{formation.codeFormation}}">{{formation.codeFormation}}</a></td>
			<td><a href="#/formation/{{formation.codeFormation}}">{{formation.nomFormation}}</a></td>
			<td><a href="#/formation/{{formation.codeFormation}}">{{formation.numeroAnnee}}</a></td>
			<td><a ng-click="deleteFormation(formation.codeFormation)" role="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove" /></a></td>
			<td><a href="#/formationedit/{{formation.codeFormation}}" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"/></a></td>
		</tr>
	</table>
</div>
